.about-area {
  position: relative;
}

.about {
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about > * {
  flex: 1;
}

.about-details p {
  line-height: 2;
  text-align: justify;
}

.about-details p .focus{
  font-weight: 700;
  color: #fff;
  transition: color 0.5s ease;
}

.about-details p .focus:hover{
  color: #f27602;
}

.about-action {
  margin-top: 25px;
  display: flex;
}

.about-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image img {
  width: 320px;
  border: 4px solid #f27602;
  border-radius: 5px;
  filter: grayscale(1);
  transition: all 0.5s ease-in-out;
}

.about-image:hover img {
  filter: grayscale(0.3);
}

@media only screen and (max-width: 768px) {
  .about {
    text-align: center;
    padding-right: 0;
    flex-direction: column-reverse;
  }

  .about > * {
    flex: 1 1 100%;
  }

  .about-action{
    justify-content: center;
  }

  .about-details p {
    margin: auto 1.5em;
  }
}
