@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.intro-area {
  font-family: 'Space Mono', monospace;
  background-image: url('../assets/image/intro-bg.png');
  background-size: cover;
  z-index: -1;
  width: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.intro {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  padding-left: 100px;
  padding-top: 50px;
}

.intro p {
  font-size: 22px;
  color: #f27602;
}

.intro h1 {
  font-size: 78px;
  font-weight: 900;
  margin-bottom: 25px;
  animation: blink 3s linear infinite;
}

.intro h3 {
  color: #f27602;
}

.intro ul {
  display: flex;

  margin-bottom: 25px;
}

.intro ul li {
  position: relative;
  margin-right: 25px;
  color: rgb(255, 255, 255);
}

.intro ul li:before {
  position: absolute;
  content: "";
  left: -15px;
  top: 10px;
  background-color: #f27602;
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

.intro ul li:first-child:before {
  display: none;
}

@media only screen and (max-width: 991px) {
  .intro h1 {
    font-size: 62px;
  }
}

@media only screen and (max-width: 768px) {
  .intro-area {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .intro {
    padding-left: 0;
    text-align: center;
  }

  .intro p {
    font-size: 21px;
  }

  .intro h1 {
    font-size: 52px;
  }

  .intro h3 {
    font-size: 22px;
  }

  .intro ul {
    justify-content: center;
  }

  .intro ul li {
    font-size: 16px;
  }
}

@media only screen and (max-width: 481px) {
  .intro p {
    font-size: 18px;
  }

  .intro h1 {
    font-size: 36px;
  }

  .intro h3 {
    font-size: 20px;
  }

  .intro ul {
    flex-direction: column;
  }

  .intro ul li {
    font-size: 14px;
    margin-right: 0;
  }

  .intro ul li:before {
    display: none;
  }
}

@keyframes blink {
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
    color: #ffffff;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
    color: #fff;
    text-shadow: 0 0 10px #f27602,
                 0 0 50px #f27602;
  }
}
